.header {
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;

  input {
    border: 1px solid black;
  }
}

.footer {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  
  button {
    background-color: #ccc;
    color: white;
  }

  .cancel {
    margin-right: 20px;
  }
}

