.game {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/game/backgrounds/red.png");
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
}

.R {
  background-image: url("../../assets/game/backgrounds/red.png");
}

.B {
  background-image: url("../../assets/game/backgrounds/blue.png");
}

.G {
  background-image: url("../../assets/game/backgrounds/green.png");
}

.Y {
  background-image: url("../../assets/game/backgrounds/yellow.png");
}