.button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  transition: 0.2s all;
}

.button.white {
  &:hover {
    background-color: darken(#fff, 25%);
    color: #fff;
  }

  &:active {
    background-color: darken(#fff, 35%);
  }

  &:disabled {
    background-color: darken(#fff, 50%);
    color: #fff;
  }
}

.button.danger {
  background-color: red;
  &:hover {
    background-color: darken(red, 10%);
    color: #fff;
  }

  &:active {
    background-color: darken(red, 20%);
  }

  &:disabled {
    background-color: darken(red, 25%);
    color: #fff;
  }
}

.button.grey {
  background-color: grey;

  &:hover {
    background-color: darken(#fff, 25%);
    color: #fff;
  }

  &:active {
    background-color: darken(#fff, 35%);
  }

  &:disabled {
    background-color: darken(#fff, 50%);
    color: #fff;
  }
}